.sidebar {
  width: 250px;
  background-color: #181818;
  height: 100vh;
}
.naviagte {
  background-color: #1d2c38;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: center;
  gap: 20px;
}
.navlinks {
  /* text-align: center; */
  width: 80%;
  border-radius: 15px;
  /* background-color: red; */
  padding: 8px 15px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}
.navlinks:hover {
  background-color: #355168;
}

.library {
  background-color: #1d2c38;
  margin-top: 10px;
  padding: 10px 20px;
  height: 505px;
}
.library h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  font-family: "Inter", sans-serif;
}
.playlist__list {
  list-style: none;
  padding: 0;
  height: 250px;
  overflow-y: scroll;
  /* background-color: red; */
}
.playlist__list li {
  border-radius: 8px;
  background-color: #355168;
  text-align: center;
  margin: 15px 5px;
}
.play_links {
  width: 100%;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.add__song {
  color: #fff;
  text-decoration: none;
}

.addplaylist {
  color: #fff;
  width: auto;
  background-color: #1d2c38;
  font-size: 14px;
  text-wrap: nowrap;
}

.Add__playlist_overlay {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: #fff;
  z-index: 4;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 15px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
  display: none;
  padding: 15px;
  flex-direction: column;
}
.Add__playlist_overlay input {
  font-size: 20px;
  text-transform: capitalize;
  color: #355168;
  font-family: "Inter", sans-serif;
}
.music__playlist {
  height: 250px;
  overflow-y: scroll;
}

.music__text {
  font-size: 16px;
  cursor: pointer;
  font-family: "inter", sans-serif;
}
.create__playlist {
  width: auto;
  font-size: 14px;
}
.buttons_overlay {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
