.admin_panel_page_main {
  display: flex;
  background-color: #181818;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
.users__ {
  width: 100%;
  margin: 5px;
  padding: 20px;
  background-color: #1d2c38;
}
.users__ h1 {
  color: #fff;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.users__list {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  border: 0.5px solid red;
}

.users__list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  border: 0.5px solid #fff;
}

.users__list li p {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "inter", sans-serif;
}
.dlt__btn {
  padding: 0 10px;
  margin: auto 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  width: auto;
}