.playlist__page {
  width: 100%;
  display: flex;
  background-color: #181818;
}

.playlist_main {
  width: 100%;
  background-color: #1d2c38;
  margin: 5px;
  overflow: hidden;
  padding: 20px;
}
.playlist_main h1 {
  color: #fff;
}
.playlist_music {
  color: #fff;
  cursor: pointer;
}