.playlist__page {
  width: 100%;
  display: flex;
  background-color: #181818;
}

.playlist_main {
  width: 100%;
  background-color: #1d2c38;
  margin: 5px;
  overflow: hidden;
  padding: 20px;
}
.playlist_main h1 {
  color: #fff;
}
.musicList {
  overflow-y: scroll;
  height: 400px;
}
.playlist_music {
  color: #fff;
  cursor: pointer;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fff;
}

.delete__Track {
  width: auto;
  margin: 0;
}

.delete__playlist {
  position: absolute;
  top: 50px;
  right: 100px;
  width: auto;
  text-transform: capitalize;
}

.playnameEditbtn {
  width: auto;
  margin-left: 60px;
}